  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  *{
    margin: 0;
    padding: 0;
  }

  body{
    font-family: "inter", "inter Fallback;
  }
  .bg-img{
    width: 99vw;
   position: relative;
  }

  .div1{
    max-width: 100%;
    height: 4vw;
    display: flex;
    position: absolute;
    top:0;
    color: #f4f5f6;
    padding-top: 20px;
    margin-left: 16vw;
  }
  
  .div1 h3{
    color:#f4f5f6;
  }

  .div1 ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin-left: 11vw;
  }

  nav{
    display: flex;
  }

  .btns{
    margin-left: 8vw;
  }
.btn1{
  width: 7vw;
  height: 5vh;
  font-size: 15px;
  border-radius: 20px;
  background-color: #2b465a;
  color: #f4f5f6;
}

.btn2{
  width: 8vw;
  height: 5vh;
  font-size: 15px;
  border-radius: 20px;
}

.main-H button{
 position: absolute;
 top: 0;
 margin-top: 14vh;
 margin-left: 38vw;
 background-color: #2b465a;
 color: #f4f5f6;
 font-size: 17px;
 width: 24vw;
 height: 4vh;
 border-radius: 20px;
}

main{
  position: absolute;
  top: 0;
  margin-top:27vh;
  margin-left: 35vw;
}

main h1{
  font-size: 70px;
  color: #f4f5f6;
}

main p{
  color: #f4f5f6;
  font-size: 25px;
}

main button{
  margin-top: 40px;
  position: absolute;
 top: 0;
margin-top: 37vh;
margin-right: 10vw;
}

main input{
  margin-top: 40px;
  width: 22vw;
  height: 5vh;
  border-radius: 20px;
position: relative;
}
